
/* ---------- estilo de columnas--------------------- */
* {box-sizing: border-box;}
.row::after {content: ""; clear: both; display: table;}
[class*="col-"] {float: left;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} 
/* ---------- estilo de columnas ------------- */

body, html {
	margin: 0px;
	padding: 0px;
	font-family: ;
	font-weight: ;
	font-size: 20px;
}

.container {
	text-align: center;
}

/* ----------- v Navigation bar v ----------------- */
#header {
	background-color: rgb(204, 150, 0);
	top: 0;
	left: 0;
	z-index: 1;
	padding: 10px;
}

.main-nav {
	display: flex;
	list-style-type: none;
	margin: 0;
  	padding: 0;
	z-index: 999;
	top: 0;
	overflow: hidden;
}

li a {
	float: left;
	padding: 15px 22px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1pt;
	text-decoration: none;
	border-radius: 10px;
}

.contacto {
	margin-left: auto;
}

li a:hover:not(.active) {
	background-color: rgba(113, 19, 0, 0.396);
}

.active {
	background-color: #663f00;
}
/* ----------- ∆ Navigation bar ∆ ----------------- */

/* ----------- v Cover v ----------------- */
#cover { 
background-color: gray;
}

.imgdiabolo { 
	position: static;
}


.spaceForText {
	color: yellow;
	text-align: center;
	padding: 30px 8px 30px;
}


/* ----------- v Proyect grid v ----------------- */
#project-grid {
	background: linear-gradient(90deg, rgba(186,241,240,1) 0%, rgba(124,228,246,1) 35%, rgba(0,212,255,1) 100%);
	display: grid;    
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(200px 1fr));
	height: auto;
	gap: 15px;
}

.project-object-1 {
	border: solid 4px darkred;
	background-image: url(img/folder-star.png);
	background-repeat: no-repeat;
	background-position: center;
}

.project-object-2 {
	background-image: url(img/folder-poligono.png);
	background-repeat: no-repeat;
	background-position: center;
}

.project-object-3 {
	background-image: url(img/folder.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

[class*="project-object"] {
	background-color: grey;
	margin: 15px;
	border-radius: 10px;
	transition: 0.8s;
	display: flex;
	justify-content: center;
	align-items: center;
}


[class*="project-object"]:hover {
	transform: scale(1.1);
}

.titulo-project-grid {
	background: linear-gradient(90deg, rgba(186,241,240,1) 0%, rgba(124,228,246,1) 35%, rgba(0,212,255,1) 100%);
	align-items: center;
}


/* ----------- ∆ Proyect grid ∆ ----------------- */

/* ----------- v Footer v ----------------- */
#footer{
	background-color: orange;
	text-align: center;
}

